<template>
  <ul class="navbar">
    <li>
      <router-link :to="{ name: 'books' }">
        Books
      </router-link>
    </li>
    <div class="auth-links">
      <template v-if="authenticated">
        <li class="link">
          {{ user.name }}
        </li>
        <li class="link">
          <a href="#" @click.prevent="signOut">
            Sign out
          </a>
        </li>
      </template>
      <template v-else>
        <li class="link">
          <router-link :to="{ name: 'signin' }">
            Signin
          </router-link>
        </li>
        <li class="link">
          <router-link :to="{ name: 'signup' }">
            Signup
          </router-link>
        </li>
      </template>
    </div>
  </ul>
</template>

<style>
.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background: #d3d3da;
  margin: 0;
  height: 40px;
}
.auth-links {
  padding-right: 20px;
  display: flex;
}
.link {
  padding: 0 5px;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
a:hover {
  color: #1890ff;
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters({
      authenticated: "auth/authenticated",
      user: "auth/user"
    })
  },

  methods: {
    ...mapActions({
      signOutAction: "auth/signOut"
    }),

    signOut() {
      this.signOutAction().then(() => {
        this.$router.replace({
          name: "signin"
        });
      });
    }
  }
};
</script>
