<template>
  <div class="table" v-if="books">
    <!-- {{ books }} -->
    <vueye-table
      checkable
      tableStyle="bordered"
      :theme="theme3"
      :per-page-values="[5, 10, 25, 50]"
      title="Books"
      :rows_data="books"
    ></vueye-table>
  </div>
  <div v-else class="loading">Loading...</div>
</template>

<style>
.table {
  width: 80%;
  display: flex;
  padding-top: 30px;
  margin: 0 auto;
  justify-content: center;
}

.loading {
  text-align: center;
  padding-top: 10px;
}
</style>
<script>
import VueyeTable from "vueye-datatable";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Books",
  data() {
    return {
      theme3: {
        backgroundColor: "rgb(211, 211, 218)",
        color: "#000",
        rows: {
          borderBottom: "1px solid #eee"
        },
        rowClick: {
          backgroundColor: "#0D0B2F"
        }
      }
    };
  },
  computed: {
    ...mapGetters({
      books: "books/books",
      links: "books/links",
      meta: "books/meta"
    })
  },
  methods: {
    ...mapActions({
      getBooks: "books/getBooks"
    })
  },
  mounted() {
    this.getBooks();
  },
  components: { VueyeTable }
};
</script>
