<template>
  <div>
    <template>
      <div class="signin">
        <form @submit.prevent="submit">
          <h3>Sign in</h3>

          <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" v-model="form.email" />
          </div>

          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" v-model="form.password" />
          </div>

          <div class="submit">
            <input type="submit" value="Sign in" />
          </div>
        </form>
      </div>
    </template>
  </div>
</template>

<style>
.signin {
  height: 100vh;
  display: flex;
  justify-content: center;
}
form {
  background: #d3d3da;
  margin-top: 200px;
  padding: 0 40px;
  width: 340px;
  height: fit-content;
  border-radius: 5px;
}

h3 {
  text-align: center;
}
input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 6px;
  font-size: 14px;
  margin: 5px 0;
}

input:focus {
  outline-color: rgb(185, 184, 184);
}

.submit {
  margin-top: 20px;
  width: 60%;
  margin: 20px auto;
}
.submit input {
  background-color: #1890ff;
  color: #fff;
}
</style>
<script>
import { mapActions } from "vuex";

export default {
  name: "signin",

  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },

  methods: {
    ...mapActions({
      signIn: "auth/signIn"
    }),

    submit() {
      this.signIn(this.form).then(() => {
        this.$router.replace({
          name: "books"
        });
      });
    }
  }
};
</script>
